* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light: #f8f9fa;
  --blue: #5798e7;
  --primary: #2a4668;
  --secondary: #0eb3ff;
  --green: #54aeff;
  --black: #3d3d3d;
  --light-bg: #2a313c;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 2rem;
  padding: 20px;
}

.card {
  width: 320px; /* Set a fixed width for better alignment */
  max-width: 100%;
  background: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}

.card-description {
  font-size: 0.9rem;
  color: var(--black);
}
.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-technologies {
  background-color: rgba(94, 96, 206, 0.1);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 700;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.btn1 {
  padding: 8px 2.5rem;
  background: var(--green);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
}
.btn1:hover {
  background: var(--blue);
}
