* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}
:root {
  --light: #f8f9fa;
  --blue: #5798e7;
  --primary: #2a4668;
  --secondary: #0eb3ff;
  --green: #54aeff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #2a313c;
  --shadow-lg: 0 10px 15px -3px rgba(79, 190, 246, 0.843);
}
.project {
  margin-top: 1rem;
  background-color: #fff;
  width: 100%;
}
.project .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
}
.project .title h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.project .title h2::after {
  content: "";
  display: block;
  width: 15rem; /* Adjust width as needed */
  height: 5px; /* Thickness of the underline */
  background: var(--blue);
  position: absolute;
  bottom: 1px; /* Adjust space between text and underline */
  left: 50%;
  transform: translateX(-50%); /* Center the underline */
  border-radius: 3px; /* Rounded edges */
}
.project .title p {
  font-size: 1.3rem;
  color: var(--black);
}
.pro-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  height: auto;
}
